aiofiles
aiohttp
apscheduler
asyncio
bard
beautifulsoup4
bs4
dpypython
emojis
ffmpeg-python
gitpython
gpytranslate
gtts
hachoir
heroku3
httpx
instaloadloader
lexica-api
motor
numpy
opencv-python
pillow==9.5.0
psutil
pickledb
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
python-dotenv
python-whots
pyshoreteners
pyttsx3
pytz
pyrofork
py-tgcalls
pyrogram==2.0.106
pyyaml
py-yt-search
qrcode
requests
SafoneAPI
speedtest-cli
SpeechRecognition
search_engine_parser
spotipy
telegraph
tgcrypto
unidecode
uvloop==0.21.0; sys_platform != "win32"
wget
youtube-search
youtube-search-python
yt-dlp
